<%= ActiveSupport::JSON.encode({
  looks: (@looks || []).collect do |look|
    {
	    id: look.to_param,
      picture: look.picture,
      created_at: look.created_at.strftime('%H:%M'),
      trend_tags: [ (look.occasions.sample.name if look.occasions.first), (look.garments.sample.name if look.garments.first) ], #TODO: Spec that <-
      source: {
        id: look.source.to_param,
        name: (look.source.name if look.source),
        thumb: (look.source.thumb if look.source)
      }
    }
  end
}).html_safe %>



