<%= ActiveSupport::JSON.encode({
  look: {
    id: @look.to_param,
    picture: @look.picture,
    garments: @look.garments.collect do |garment| 
      {
        id: garment.id,
        name: garment.name
      }
    end,
    occasions: @look.occasions.collect do |occasion|
      {
        id: occasion.id,
        name: occasion.name
      }
    end,
    reference: @look.reference
  }
}).html_safe %>




