<%= ActiveSupport::JSON.encode({
  sources: @sources.collect do |source|
    {
      id: source.to_param,
      title: source.title,
      thumb: source.thumb,
      entries: source.entries
    }
  end
}).html_safe %>




