<%= ActiveSupport::JSON.encode({
  occasions: @occasions.collect do |occasion|
    {
        id: occasion.to_param,
        name: occasion.name,
        thumb: occasion.thumb,
        entries: occasion.entries
    }
  end
}).html_safe %>





