<%= ActiveSupport::JSON.encode({
  garments: @garments.collect do |garment|
    {
      id: garment.to_param,
      name: garment.name,
      thumb: garment.thumb,
      entries: garment.entries
    }
  end
}).html_safe %>
