<%= ActiveSupport::JSON.encode({
  category: {
    name: @category.name,
    sources: @category.sources.collect do |source|
      {
        id: source.id,
        name: source.name,
        thumb: source.thumb,
        entries: source.entries
      }
    end
  }
}).html_safe  %>
